<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login | Article Posting</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="icon" href='/img/blog.png'>
    <link rel="stylesheet" href='/css/styles.css'>
</head>
<body>
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        <form method="POST" action="/login">
            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Email</label>
                <input type="text" name="username" placeholder="Email" class="form-control" required>
            </div>
            </div>
            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            </div>
        
            <div class="form-group my-4 text-center">
            <button class="btn btn-primary">Login</button>
            </div>
        </form>
        Don't have an account? <a href="/register">Sign Up</a>
        Forgot password? <a href="/forgot">Forgot</a>
        </div>   
    </div>
    </div>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>